#h2-service{
    text-align: center;
}
#intro-section{
    margin-top:60px;
}
html {
    scroll-behavior: smooth;
  }
.input-color{
    border-color: white;
    color: white;
    background-color: #1A2238!important;
}
.hr-color{
    background-color: white;
    width: 40%;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;

}
.card-images {
    min-height: 240px !important;
}
#footer-image{
    height: 70px;
}
#quote-image{
    height: 40px;
}
.carousel-item
{
    margin-top: 85px !important;
}
#body{
    background: #1A2238;
    font-family:'Courier New', Courier, monospace;
}
.headingtext{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 900;
}
.logotext{
    font-family:cursive;
}
#welcome-body{
    background: black;
}
.card-title{
    color: white !important;
}
.card-text{
    color: white!important;
}
.small{
    color: white!important;
}
#inputAddress{
    height: 100px;
}
.form-address{
    height: 100px;
    resize: none;
}
.form-comments{
    height: 360px;
    resize: none;
}
#footer-container{
    height: auto;
}
#aboutme{
    padding-top: 20px;
    padding-bottom: 20px;
}
.contactmeform{
    width: 100%;
}
.navbar-brand{
    color: #fff!important;
    font-size: 40px!important;
    font-weight: 700!important;
    padding: 10px!important;
}
#navBar{
    background-color: #1A2238!important;
}
.navbar-nav{
    align-items: center!important;
}
.card{
    border-color: white!important;
}
.border{
    border-color: white!important;
}
.bg-light{
    background-color: white!important;
}
.border-right {
    border-right: 1px solid white!important;
}
.card{
    background-color: #1A2238;
}
.card-body{
    color: white;
}
