.navbar-brand{
    color: black!important;
    font-size: 40px!important;
    font-weight: 700!important;
    padding: 10px!important;
}
.navbar-nav{
    align-items: center!important;
}
.nav-tab{
    color: BLACK !important;
}
.navbar-bg{
    background: #E3E3E3;
}


.input-color{
    color: black;
    border-color: black;
    background-color: transparent !important;
}
.input-color:focus{
    color: black;
    border-color: red;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}





#h2-service{
    text-align: center;
}
html {
    scroll-behavior: smooth;
}

.hr-color{
    background-color: black;
    width: 40%;
}


.card-images {
    min-height: 240px !important;
}
#footer-image{
    height: 70px;
}
#quote-image{
    height: 40px;
}
.carousel-item
{
    margin-top: 85px !important;
}
#body{
    background-color: #E3E3E3;
    font-family:'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom);
}
.headingtext{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 900;
    padding-top: 50px !important;
}
.logotext{
    margin-left: 20px;
    width: 100px;
    height: 100px;
}
.card-title{
    color: black !important;
}
.card-text{
    color: black!important;
}
.small{
    color: black!important;
}
#inputAddress{
    height: 100px;
}
.form-address{
    height: 100px;
    resize: none;
}
.form-comments{
    height: 360px;
    resize: none;
}
#footer-container{
    height: auto;
}
#aboutme{
    padding-top: 20px;
    padding-bottom: 20px;
}
.contactmeform{
    width: 100%;
}
.intro-text{
    font-size: 30px;
}
.card{
    border-color: black!important;
}
.border{
    border-color: black!important;
}
.bg-light{
    background-color: black!important;
}
.border-right {
    border-right: 1px solid black!important;
}
.card{
    background-color: black;
}
.card-body{
    color: black;
}
.skillcontainer{
  width: 100;
  height: 40px;
  margin: 30px;
}
.skilltext{
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
}
#skillsbarhtml{
    width: 90%;
    height:10px;
    background-color: black;
    margin-left: 1px;
}
#skillsbarcss{
    width: 80%;
    height:10px;
    background-color: black;
    margin-left: 1px;
}
#skillsbarjs{
    width: 65%;
    height:10px;
    background-color: black;
    margin-left: 1px;
}
#skillsbarjava{
    width: 60%;
    height:10px;
    background-color: black;
    margin-left: 1px;
}
#skillsbarc{
    width: 60%;
    height:10px;
    background-color: black;
    margin-left: 1px;
}
.skilltext span a{
    float: right;
    font-weight: bold;
}
.skillcontainer p{
    padding: 7px 5px 1px 5px !important;
    margin-bottom: -1.5px !important;
}


/**portfolio**/

.portfolio {
    position: relative;
    padding: 45px 0 15px 0;
}

.portfolio #portfolio-filter {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: #EF233C;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #EF233C;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
    color: #EF233C;
    background: transparent;
    box-shadow: inset 0 0 0 0 #EF233C;
    border-color: #EF233C;
}

.portfolio .portfolio-item {
    position: relative;
}

.portfolio .portfolio-wrap {
    position: relative;
    width: 100%;
}

.portfolio .portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-img img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transform: scale(1.1);
    transition: .5s;
}

.portfolio .portfolio-item:hover img {
    margin-left: 15px;
}

.portfolio .portfolio-text {
    position: relative;
    height: 60px;
    width: calc(100% - 30px);
    margin: -30px 15px 30px 15px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
}

.portfolio .portfolio-text h3 {
    width: calc(100% - 70px);
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio .portfolio-text a.btn {
    width: 50px;
    height: 50px;
    padding: 0 0 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 100;
}

.portfolio .portfolio-item:hover a.btn {
    color: #1A2238;
    background: transparent;
    box-shadow: inset 0 0 0 0 #1A2238;
    border-color: red;
}

